# Operating System
.DS_Store
Thumbs.db

# IDEs & Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Node / JS (future tooling)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment / Local settings
.env
.env.local
